
.profile_back1
{
background-color:#DDEEFF;
}

.profile_back2
{
background-color:#EFF7FF;
padding:15px;
}


body
{
background-image:url(../bg/back.JPG); 
background-color:#F6FAFB; 
background-repeat:repeat-x;
}

.outermost_table
{
max-width:1024px;
min-width:800px;
border:1px solid #AACCEE;
background-color:#FFFFFF;
width:100%;
}


}
.Profile_header
{
padding:10px;
border:1px solid #AACCEE;
background-image:url(../bg/back.JPG);
background-repeat:repeat-x;
background-color:#F6FAFB;
}


.sidemenu
{
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; 
}
.search_result
{
padding:6px;
border:1px solid #AACCEE;
}
.d
{
background-color:#FFFFFF;
background-image:url(../bg/addnew_back.jpg);
background-repeat:repeat-x;

}
.d1
{
background-color:#FFFFFF;
background-image:url(../bg/addnew_back1.jpg);
background-repeat:repeat-x;
background-position:bottom;

}